.description{
    font-size:x-large;
}

.desc{
    margin-left: 2rem;
    margin-right: 5rem;
    display: flex;
}

.desc-item{
    margin-left: 2rem
}

.images{
    height: 5rem;
    width: 10rem;
    color: #00559b;
}

.workflow{
    width: fit-content;
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.workflow-item{
    align-items: center;
    text-align: center;
}